<div class="container">
<div><p>Posts:</p>
<ul>
{{#each data.articles}}

 {{#if this.saved}}
   

<div class="panel panel-default">
  <div class="panel-heading">{{this.title}}</div>
  <div class="panel-body">
      <div class="row">
      <div class="col-sm-2"><img width="80" height="80" src="{{this.image}}" alt=""></div>
      <div class="col-sm-8">{{this.link}}</div>
      <div class="col-sm-2 offset-col-2">

    <form action="/save/{{this.id}}" method="POST">
        <button class="btn btn-success">Add a Note</button>
         <button class="btn btn-danger">Unsave</button>
    </form>
        
          
          </div>
      </div>
      
      
      
      </div>
</div>
{{!-- <li>{{this.title}}</li>
<li>{{this.rank}}</li>
<li>{{this.link}}</li>
<li>{{this.upvote}}</li> --}}
{{/if}}

{{/each}}
</ul>

</div>

</div>